
/*  */
/*  */
/*  */
/* HEADER */
/*  */
/*  */
/*  */

body{
    overflow-x: hidden!important;
}

a{
    color:#000!important;
    text-decoration: none!important;
}

header{
    width:100%;
    background:#728091;
    box-shadow: 0px 4px 21px #00000045;
}

.my-container{
    width:70%;
    margin:0 auto;
}

.header-title{
    display:flex;
    justify-content: space-between;
}

.header-title>div{
    display:flex;
    height: 50%;
    align-items: center;
}

.logo img{
    width: 100px;
    margin-bottom: 20px;
}

.info-blocks{
    display:flex;
    justify-content: flex-end;
}

.info-blocks>div:first-child{
    border-right:1px solid #ccc;
}

.info-blocks>div{
    justify-content: flex-end;
    padding:0px 25px;

}

.info-blocks img{
    margin-right:9px;
}

.hasce img{
    width:16px;
}

.hamar img{
    width:11px;
}

.hasce,.hamar{
    display:flex;
    align-items: center;
    color:#fff;
    font-size:13px;
}

.dark{
    color: #4A1F66!important;
}

.btn-dark{
    background: #4A1F66!important;
}

.nav-block{
    display:flex;
    flex-direction:column;
}

.navigation{
    display: flex;
}

.my-nav{
    position: relative;
    flex-basis:95%;
}

.my-nav::after{
    content:"";
    position:  absolute;
    top:0;
    right:0;
    border: 57px solid transparent;
    border-bottom: 0px solid white;
    border-right: 15px solid #728091;
}

.prise{
    width:195px;
    background: #4a1f66;
    text-align: right;
    color: #fff;
    position: relative;
    cursor:pointer;
}

.prise::before{
    content:"";
    position:  absolute;
    top:0;
    left:0;
    border: 57px solid transparent;
    border-top: 0px solid white;
    border-left: 15px solid #728091;
}

.page-name-block{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.page-name-block>div{
    display:flex;
    text-align: center;
}

.page-name-block img{
    width:25px;
    margin-right: 5px;
}

.but:active,.but:focus{
    border:2px solid #fff;
    box-shadow: none;
}

.but{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid #fff;
    padding: 10px;
}

.but>div{
    border:1px solid #fff;
    width:25px;
}

.page-name{
    color: #4A1F66;
    font-weight: bold;
    font-size: 17px;
}

.nav-nav{
    flex-basis: 100%;
    justify-content: space-between;
}

.my-nav>button.but:active,.my-nav>button.but:focus{
    box-shadow:none;
    color:none;
}

.li-prise,.li-prise>a{
    cursor:pointer;
    display:none;
    color: #fff!important;
}

.nav-nav .dropdown-item:active{
    background:#728091!important;
    color:#fff!important;
}

@media only screen and (max-width:1075px){
    .my-container{
        width:755px;
    }
}

@media only screen and (max-width: 992px){
    .my-container{
        width:85%;
    }

    .my-container-header{
        width: 80%!important;
    }

    .my-nav{
        position: relative;
        flex-basis:100%;
        padding:0px;
    }

    .nav-item,.dropdown-item{
        text-align: center;
    }

    .nav-item:hover{
        background-color: #e9ecef;
    }

    .logo img{
        width: 80px;
        margin: 10px 20px 10px 0px;
    }

    .header-title {
        align-items: center;
    }

    .my-nav::after,.prise::before{
        display: none;
    }

    .prise{
        display: none;
    }

    .li-prise{
        display:block;
        color:#fff;
        background:#4a1f66;
    }

    .li-prise>a{
        color: #fff!important;
    }

    .info-blocks>div {
        padding: 0px;
    }

    .hasce{
        padding-right:20px!important;
    }

    .hamar{
        padding-left:20px!important;
    }

    .nav-block{
        flex-direction: column-reverse;
    }

    .but{
        display:flex;
    }

    .navigation{
        margin-top:10px;
    }

    .nav-nav{
        padding:20px 0px;
    }
}

@media only screen and (max-width: 830px){
    .my-container {
        width: 700px;
    }
}

@media only screen and (max-width:750px){
    .my-container{
        width:90%;
        padding:0px 15px;
    }

    .my-container-header{
        width: 90%!important;
    }
}

@media only screen and (max-width:620px){
    .my-container{
        width:100%;
    }

    .my-container-header{
        width: 97%!important;
    }

    .logo img{
        margin: 10px 0px;
    }

    .info-blocks>div {
        padding: 0px 7px;
    }

    .hasce img {
        width: 14px;
    }

    .hamar img {
        width: 9px;
    }

    .hasce, .hamar {
        font-size: 12px;
    }

    .info-blocks img {
        margin-right: 5px;
    }
}

@media only screen and (max-width:560px){
    .info-blocks>div {
        padding: 0px 7px;
    }

    .hasce {
        padding-right:8px!important;
    }

    .hamar{
        padding-left:8px!important;
    }
}

/*  */
/*  */
/*  */
/* FOOTER */
/*  */
/*  */
/*  */


.footer-header>img{
    max-width:30%;
    transform: translateY(-50%);
}

.footer-header{
    width:100%;
    background:#4a1f66;
    position: relative;
    left:0px;top:10vw;
    display:flex;
}

.footer-info-items{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.footer-info-items>div{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.footer-info-items img{
    max-width: 2.5vw;
    margin-bottom: 2vw;
}

.footer-info-items>div>div{
    text-align:center;
    color:#fff;
    font-size: 1.1vw;
}

.item-title{
    font-weight: bold;
}

@media only screen and (max-width:1060px){
    .footer-header>img {
        max-width: 35%;
    }

    .footer-info-items>div>div {
        font-size: 1.6vw;
    }

    .footer-content img{
        width: 125px;
    }
}

.footer-content{
    position: relative;
    left:0px;top:10vw;
    background:#728091;
    color:#000;
    display:flex;
    justify-content: space-evenly;
    padding: 3vw 0px;
}

.footer-content img{
    width:165px;
}

.footer-content div{
    text-align: center;
    font-size: 14px;
}

.muq{
    font-weight:600;
}

@media only screen and (max-width:750px){
    .footer-header>img {
        max-width: 40%;
        position: absolute;
    }
    .footer-info-items{
        margin-top:80px;
    }

    .footer-info-items>div{
        margin-bottom: 30px;
    }
    .footer-info-items img{
        max-width:4vw;
    }

    .footer-content{
        flex-wrap: wrap;
    }

    .footer-info-items>div>div{
        font-size: 2.3vw;
    }

    .footer-content>div{
        flex-basis: 50%;
        align-items: center;
        margin:10px 0px;
    }

    .footer-nkar{
        display: flex;
        justify-content:center;
    }
}

@media only screen and (max-width:585px){
    .footer-content>div{
        flex-basis: 100%;
    }
}



/*  */
/*  */
/*  */

/* Napishite nam */

/*  */
/*  */
/*  */

.napishite-nam{
    width:270px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    position:fixed;
    right:5vw;
    bottom:0px;
    overflow:hidden;
    z-index:999;
    box-shadow: 0px 4px 35px #00000045;
}

.nam-title{
    height:45px;
    background:#728091;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    cursor:pointer;
}

.nam-title img{
    width:10px;
    margin-right:10px;
}

.nam-content{
    display:none;
    height:85%;
    background:#fff;
    text-align: center;
    border: 1px solid #ccc;
    border-bottom: none;
    position: relative;
}

.nam-content *:not(button,img,span.success_resolve){
    width:100%;
    padding:7px 5px;
    outline: none;
    font-size: 13px;
    border:none;
    border-bottom: 1px solid #ccc;
    margin:0px;
}

.nam-content textarea{
    height:100px;
    resize: none;
}

.nam-content input{
    padding: 8px 5px;
    font-size: 12px;
}

.nam-content button{
    background: rgb(74, 31, 102);
    color:#fff;
    border:none;
    margin:30px 0px 20px 0px;
    font-size: 14px;
    padding: 3px 8px;
}

#send_btn:disabled,#prise .next-read:disabled{
    opacity:0.8;
}

.nam-cover{
    position: absolute;
    top:0px;left:0px;
    width:100%;
    height:100%;
    background: rgba(255, 255, 255, 0.712);
    display:none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.nam-cover img{
    width:45px;
}


@media only screen and (max-width:530px){
    .napishite-nam{
        right:50%;
        transform: translateX(50%);
    }
}

/*  */
/*  */
/*  */
/* Modal */
/*  */
/*  */
/*  */


form#prise button.next-read{
    border-radius:5px;
    margin: 15px auto 0px auto!important;
    display: block!important;
}

.close-btn{
    background: transparent;
    border: none;
    font-size: 28px;
    margin: 0px;
    padding: 0px 5px;
}

#prise input{
    height: 35px;
    width: 100%;
    border: 1px solid #4a1f669c;
    border-radius: 5px;
    font-size: 12px;
    padding: 0px 12px;
    outline: none;
    margin-bottom:10px;
}

.m-header{
    background:#4a1f66;
}

.m-header h5,.m-header span{
    color:#fff;
}
