.shinarar{
    display:flex;
}

.shinarar>img{
    width:50%;
}

.shinarar>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shinarar h1{
    font-size:3vw;
    margin-bottom:2vw
}

.shinarar-text{
    text-align:justify;
    font-size:1.3vw;
    padding:0vw 1vw;
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: calc(100% - 150px);
}

.next-read{
    margin-top:1.5vw;
    background:#4a1f66;
    color:#fff;
    border:none;
    padding:0.4vw 0.7vw
}

@media only screen and (max-width:1040px){
    .shinarar-text{
        font-size:15px;
        max-height: calc(100% - 155px);
    }
}

@media only screen and (max-width:835px){
    .shinarar-text{
        font-size:15px;
        max-height: calc(100% - 115px);
    }

    .next-read{
        font-size: 14px;
    }
}

@media only screen and (max-width:755px){
    .shinarar-text{
        font-size:14px;
        max-height: calc(100% - 100px);
    }
}

.uslugi-block{
    text-align: center;
}

.uslugi-block>div{
    display: inline-block;
    text-align: center;
}

.uslugi{
    text-transform: uppercase;
    text-align: center;
}

.uslugi-block>div>div{
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to left, #501e63, #cd081c);
}

.uslugi-icons>div>div{
    display:flex;
    align-items: center;
    justify-content: center;
}

.uslugi-icons img{
    width:60px;
    margin-right:10px;
}

.uslugi-icons p{
    margin:0px;
    padding:0px;
    font-weight:bold;
    width: 50%;
}

.free-consultation{
    width:100%;
    background-size:cover;
    display:flex;
    justify-content: center;
}

.form-block{
    width:580px;
    border:1px solid #4A1F66;
    border-radius:5px;
    background:#fff;
    margin:0 auto;
}

.form-block h2{
    text-align: center;
}

.form-block p{
    width:60%;
    margin:0px auto;
    text-align:center;
}

.form-inputs{
    width:50%;
    margin:0px auto;
}

.form-inputs input{
    height:40px;
    width:100%;
    border: 1px solid #4a1f669c;
    border-radius: 5px;
    font-size:12px;
    padding:0px 15px;
    outline:none;
}

.form-inputs input::placeholder{
    opacity:0.7;
    color:#4A1F66;
}

.get-consultation{
    border-radius:4px;
    background:#4A1F66;
    color:#fff;
    padding-top:5px;
    padding-bottom:5px;
    border:none;
    font-size:12px;
    padding: 8px 20px;
}

.submit-btn{
    text-align: center;
    cursor:pointer;
}

.ya-prinimau{
    width:50%;
    margin:0px auto;
    display:flex;
    align-items:center;
}

.ya-prinimau span{
    line-height:20px;
}

.check-block{
    position:relative;
}

#check_1{
    display:none;
    border:1px solid #4a1f669c;
}

input[type="checkbox"]{
    position: absolute;
  }

input[type="checkbox"] + label {
    display: block;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    content: '';
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    background: white;
    border:1px solid #4A1F66;
    border-radius:5px;
}

input[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 3px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    height: 10px;
    width: 19px;
    transform: rotate(-45deg);
}

@media only screen and (max-width:715px){
    .shinarar{
        flex-direction: column;
        align-items: center;
        width: 430px;
        width: 100%;
        padding:0px 15px;
        text-align: justify;
    }

    .shinarar>img {
        width: 95%;
        margin-top:20px;
    }
}

@media only screen and (max-width:620px){
    .form-block{
        width:90%;
    }

    .form-block>h2{
        font-size: 4vw;
    }

    .form-block>p,.ya-prinimau span{
        font-size: 2.4vw;
    }
}


.feed-size{
    font-size:12px;
}

.submit-btn :disabled{
    opacity:0.8;
}

/*  */
/*  */
/*  */
/* Services */
/*  */
/*  */
/*  */

.v-nav{
    background:#f8f9fa!important;
}

.v-nav .active{
    background:#728091!important;
    color:#fff!important;
}


.switch-block>div img{
    width:100%;
}

.my-container iframe{
    max-height:30vw;
}

.loader{
    width:45px;
    display:none;
}

.anun{
    font-size:17px;
    font-weight:bold;
}

.anvanun{
    font-size:16px;
}
